/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

#chess-board {
  display: grid;
  grid-template-columns: repeat(8, 40px);
  border: 1px solid black;
  width: 320px;
  margin: 0 auto;
}



[data-piece='white-rook'] {
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/7/72/Chess_rlt45.svg');
  background-size: 100%;
}

[data-piece='white-bishop'] {
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/b/b1/Chess_blt45.svg');
  background-size: 100%;
}

[data-piece='white-knight'] {
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/7/70/Chess_nlt45.svg');
  background-size: 100%;
}

[data-piece='white-king'] {
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/4/42/Chess_klt45.svg');
  background-size: 100%;
}

[data-piece='white-queen'] {
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/1/15/Chess_qlt45.svg');
  background-size: 100%;
}

[data-piece='white-pawn'] {
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/4/45/Chess_plt45.svg');
  background-size: 100%;
}


[data-piece='black-rook'] {
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/f/ff/Chess_rdt45.svg');
  background-size: 100%;
}

[data-piece='black-bishop'] {
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/9/98/Chess_bdt45.svg');
  background-size: 100%;
}

[data-piece='black-knight'] {
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/e/ef/Chess_ndt45.svg');
  background-size: 100%;
}

[data-piece='black-king'] {
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/f/f0/Chess_kdt45.svg');
  background-size: 100%;
}

[data-piece='black-queen'] {
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/4/47/Chess_qdt45.svg');
  background-size: 100%;
}

[data-piece='black-pawn'] {
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/c/c7/Chess_pdt45.svg');
  background-size: 100%;
}

.white {
  background-color: white;
}

.black {
  background-color: gray;
}

.cell{
  display: flex; width: 100px; height: 100px;
}