@tailwind base;
@tailwind components;
@tailwind utilities;




[data-piece='white-rook'] {
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/7/72/Chess_rlt45.svg');
  background-size: 100%;
  object-fit: contain;
}

[data-piece='white-bishop'] {
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/b/b1/Chess_blt45.svg');
  background-size: 100%;
  object-fit: contain;
}

[data-piece='white-knight'] {
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/7/70/Chess_nlt45.svg');
  background-size: 100%;
  object-fit: contain;
}

[data-piece='white-king'] {
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/4/42/Chess_klt45.svg');
  background-size: 100%;
  object-fit: contain;
}

[data-piece='white-queen'] {
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/1/15/Chess_qlt45.svg');
  background-size: 100%;
  object-fit: contain;
}

[data-piece='white-pawn'] {
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/4/45/Chess_plt45.svg');
  background-size: 100%;
  object-fit: contain;
}


[data-piece='black-rook'] {
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/f/ff/Chess_rdt45.svg');
  background-size: 100%;
  object-fit: contain;
}

[data-piece='black-bishop'] {
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/9/98/Chess_bdt45.svg');
  background-size: 100%;
  object-fit: contain;
}

[data-piece='black-knight'] {
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/e/ef/Chess_ndt45.svg');
  background-size: 100%;
  object-fit: contain;
}

[data-piece='black-king'] {
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/f/f0/Chess_kdt45.svg');
  background-size: 100%;
  object-fit: contain;
}

[data-piece='black-queen'] {
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/4/47/Chess_qdt45.svg');
  background-size: 100%;
  object-fit: contain;
}

[data-piece='black-pawn'] {
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/c/c7/Chess_pdt45.svg');
  background-size: 100%;
  object-fit: contain;
}
/* 
.white {
  background-color: white;
}

.black {
  background-color: gray;
} */

.cell, .cell-piece{
  display: flex; width: 100px; height: 100px;
}
